# Importing Data Section

In [1]:
#importing pandas to help with importing data set
import pandas as pd

In [13]:
#importing pandas stats library 
import statsmodels.formula.api as sm

In [11]:
# using the pandas read csv function to pull in my data this is my panda dataframe
## using parens to call the function with parameters, and quotes for the string.
###The last 4 rows in my data set are not necessary, and I ned to drop them along with my first row. 
lc_test = pd.read_csv(filepath_or_buffer="/Users/z013mbn/Desktop/LC_Test.csv",skiprows=0, skipfooter=4, header=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [12]:
#check to make sure my data set is correct
print(lc_test)

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0      NaN        NaN      15000        15000            15000   60 months
1      NaN        NaN      10400        10400            10400   36 months
2      NaN        NaN      12800        12800            12800   60 months
3      NaN        NaN      21425        21425            21425   60 months
4      NaN        NaN       7650         7650             7650   36 months
5      NaN        NaN       9600         9600             9600   36 months
6      NaN        NaN      17000        17000            17000   36 months
7      NaN        NaN      21075        21075            21075   60 months
8      NaN        NaN      12975        12975            12975   36 months
9      NaN        NaN       5250         5250             5250   36 months
10     NaN        NaN      10000        10000            10000   36 months
11     NaN        NaN       2500         2500             2500   36 months
12     NaN        NaN      23325        23325            23325   36 months
13     NaN        NaN      16000        16000            16000   60 months
14     NaN        NaN       6000         6000             6000   36 months
15     NaN        NaN       2000         2000             2000   36 months
16     NaN        NaN       3000         3000             3000   36 months
17     NaN        NaN       2000         2000             2000   36 months
18     NaN        NaN       2000         2000             2000   36 months
19     NaN        NaN      13550        13550            13550   60 months
20     NaN        NaN       7200         7200             7200   36 months
21     NaN        NaN       1000         1000             1000   36 months
22     NaN        NaN      14000        14000            14000   36 months
23     NaN        NaN       5000         5000             5000   36 months
24     NaN        NaN       2000         2000             2000   36 months
25     NaN        NaN      18000        18000            18000   36 months
26     NaN        NaN      10800        10800            10800   36 months
27     NaN        NaN       6000         6000             6000   36 months
28     NaN        NaN       4000         4000             4000   36 months
29     NaN        NaN      15000        15000            15000   60 months
...     ..        ...        ...          ...              ...         ...
235599 NaN        NaN      35000        35000            35000   36 months
235600 NaN        NaN      15000        15000            15000   36 months
235601 NaN        NaN      12800        12800            12800   36 months
235602 NaN        NaN      24000        24000            24000   36 months
235603 NaN        NaN      18000        18000            17975   36 months
235604 NaN        NaN       7000         7000             7000   36 months
235605 NaN        NaN      14400        14400            14375   36 months
235606 NaN        NaN      14000        14000            14000   36 months
235607 NaN        NaN      24000        24000            24000   36 months
235608 NaN        NaN      15250        15250            15250   36 months
235609 NaN        NaN      32000        32000            31975   36 months
235610 NaN        NaN      12000        12000            12000   36 months
235611 NaN        NaN      10000        10000            10000   36 months
235612 NaN        NaN      12000        12000            12000   36 months
235613 NaN        NaN      10000        10000            10000   36 months
235614 NaN        NaN       5000         5000             5000   36 months
235615 NaN        NaN      13250        13250            13225   60 months
235616 NaN        NaN      12000        12000            12000   60 months
235617 NaN        NaN       6000         6000             6000   36 months
235618 NaN        NaN      10000        10000            10000   36 months
235619 NaN        NaN       8525         8525             8525   60 months
235620 NaN        NaN       6000         6000             6000   36 months
235621 NaN        NaN      18000        18000            17975   36 months
235622 NaN        NaN      15000        15000            15000   36 months
235623 NaN        NaN      10000        10000            10000   36 months
235624 NaN        NaN      18400        18400            18400   60 months
235625 NaN        NaN      22000        22000            22000   60 months
235626 NaN        NaN      20700        20700            20700   60 months
235627 NaN        NaN       2000         2000             2000   36 months
235628 NaN        NaN      10000        10000             9975   36 months

       int_rate  installment grade sub_grade       ...        \
0        12.39%       336.64     C        C1       ...
1         6.99%       321.08     A        A3       ...
2        17.14%       319.08     D        D4       ...
3        15.59%       516.36     D        D1       ...
4        13.66%       260.20     C        C3       ...
5        13.66%       326.53     C        C3       ...
6        13.66%       578.22     C        C3       ...
7        21.99%       581.95     E        E5       ...
8        17.86%       468.17     D        D5       ...
9        11.44%       172.98     B        B4       ...
10       11.99%       332.10     B        B5       ...
11       11.99%        83.03     B        B5       ...
12       14.31%       800.71     C        C4       ...
13       11.44%       351.40     B        B4       ...
14       10.49%       194.99     B        B3       ...
15       14.99%        69.33     C        C5       ...
16       10.49%        97.50     B        B3       ...
17       15.99%        70.31     D        D2       ...
18       14.31%        68.66     C        C4       ...
19       19.99%       358.92     E        E3       ...
20       12.39%       240.49     C        C1       ...
21       12.39%        33.41     C        C1       ...
22       10.49%       454.97     B        B3       ...
23       10.49%       162.49     B        B3       ...
24       12.99%        67.38     C        C2       ...
25       11.99%       597.78     B        B5       ...
26        9.49%       345.91     B        B2       ...
27       14.99%       207.97     C        C5       ...
28       15.99%       140.61     D        D2       ...
29       20.99%       405.72     E        E4       ...
...         ...          ...   ...       ...       ...
235599   18.25%      1269.73     D        D3       ...
235600   16.99%       534.72     D        D1       ...
235601   13.53%       434.56     B        B5       ...
235602   21.48%       910.13     E        E2       ...
235603   15.61%       629.37     C        C4       ...
235604    9.67%       224.79     B        B1       ...
235605   13.53%       488.88     B        B5       ...
235606   16.24%       493.86     C        C5       ...
235607   13.98%       820.04     C        C1       ...
235608   17.57%       548.05     D        D2       ...
235609    7.90%      1001.29     A        A4       ...
235610    8.90%       381.04     A        A5       ...
235611   12.85%       336.22     B        B4       ...
235612   16.24%       423.31     C        C5       ...
235613    7.90%       312.91     A        A4       ...
235614   22.40%       191.99     E        E3       ...
235615   22.90%       372.77     E        E4       ...
235616   21.48%       327.89     E        E2       ...
235617   10.99%       196.41     B        B2       ...
235618   11.99%       332.10     B        B3       ...
235619   18.25%       217.65     D        D3       ...
235620   15.61%       209.79     C        C4       ...
235621    7.90%       563.23     A        A4       ...
235622   13.53%       509.25     B        B5       ...
235623   18.25%       362.78     D        D3       ...
235624   14.47%       432.64     C        C2       ...
235625   19.97%       582.50     D        D5       ...
235626   16.99%       514.34     D        D1       ...
235627    7.90%        62.59     A        A4       ...
235628   19.20%       367.58     D        D3       ...

       hardship_payoff_balance_amount hardship_last_payment_amount  \
0                                 NaN                          NaN
1                                 NaN                          NaN
2                                 NaN                          NaN
3                                 NaN                          NaN
4                                 NaN                          NaN
5                                 NaN                          NaN
6                                 NaN                          NaN
7                                 NaN                          NaN
8                                 NaN                          NaN
9                                 NaN                          NaN
10                                NaN                          NaN
11                                NaN                          NaN
12                                NaN                          NaN
13                                NaN                          NaN
14                                NaN                          NaN
15                                NaN                          NaN
16                                NaN                          NaN
17                                NaN                          NaN
18                                NaN                          NaN
19                                NaN                          NaN
20                                NaN                          NaN
21                                NaN                          NaN
22                                NaN                          NaN
23                                NaN                          NaN
24                                NaN                          NaN
25                                NaN                          NaN
26                                NaN                          NaN
27                                NaN                          NaN
28                                NaN                          NaN
29                                NaN                          NaN
...                               ...                          ...
235599                            NaN                          NaN
235600                            NaN                          NaN
235601                            NaN                          NaN
235602                            NaN                          NaN
235603                            NaN                          NaN
235604                            NaN                          NaN
235605                            NaN                          NaN
235606                            NaN                          NaN
235607                            NaN                          NaN
235608                            NaN                          NaN
235609                            NaN                          NaN
235610                            NaN                          NaN
235611                            NaN                          NaN
235612                            NaN                          NaN
235613                            NaN                          NaN
235614                            NaN                          NaN
235615                            NaN                          NaN
235616                            NaN                          NaN
235617                            NaN                          NaN
235618                            NaN                          NaN
235619                            NaN                          NaN
235620                            NaN                          NaN
235621                            NaN                          NaN
235622                            NaN                          NaN
235623                            NaN                          NaN
235624                            NaN                          NaN
235625                            NaN                          NaN
235626                            NaN                          NaN
235627                            NaN                          NaN
235628                            NaN                          NaN

       disbursement_method  debt_settlement_flag debt_settlement_flag_date  \
0                     Cash                     N                       NaN
1                     Cash                     N                       NaN
2                     Cash                     N                       NaN
3                     Cash                     N                       NaN
4                     Cash                     N                       NaN
5                     Cash                     N                       NaN
6                     Cash                     N                       NaN
7                     Cash                     N                       NaN
8                     Cash                     N                       NaN
9                     Cash                     N                       NaN
10                    Cash                     N                       NaN
11                    Cash                     N                       NaN
12                    Cash                     N                       NaN
13                    Cash                     N                       NaN
14                    Cash                     N                       NaN
15                    Cash                     N                       NaN
16                    Cash                     N                       NaN
17                    Cash                     N                       NaN
18                    Cash                     N                       NaN
19                    Cash                     N                       NaN
20                    Cash                     N                       NaN
21                    Cash                     N                       NaN
22                    Cash                     N                       NaN
23                    Cash                     Y                    Jan-18
24                    Cash                     N                       NaN
25                    Cash                     N                       NaN
26                    Cash                     N                       NaN
27                    Cash                     N                       NaN
28                    Cash                     N                       NaN
29                    Cash                     N                       NaN
...                    ...                   ...                       ...
235599                Cash                     N                       NaN
235600                Cash                     N                       NaN
235601                Cash                     N                       NaN
235602                Cash                     N                       NaN
235603                Cash                     N                       NaN
235604                Cash                     N                       NaN
235605                Cash                     N                       NaN
235606                Cash                     N                       NaN
235607                Cash                     N                       NaN
235608                Cash                     N                       NaN
235609                Cash                     N                       NaN
235610                Cash                     N                       NaN
235611                Cash                     N                       NaN
235612                Cash                     N                       NaN
235613                Cash                     N                       NaN
235614                Cash                     N                       NaN
235615                Cash                     N                       NaN
235616                Cash                     N                       NaN
235617                Cash                     N                       NaN
235618                Cash                     N                       NaN
235619                Cash                     N                       NaN
235620                Cash                     N                       NaN
235621                Cash                     N                       NaN
235622                Cash                     N                       NaN
235623                Cash                     N                       NaN
235624                Cash                     N                       NaN
235625                Cash                     N                       NaN
235626                Cash                     N                       NaN
235627                Cash                     N                       NaN
235628                Cash                     N                       NaN

       settlement_status settlement_date settlement_amount  \
0                    NaN             NaN               NaN
1                    NaN             NaN               NaN
2                    NaN             NaN               NaN
3                    NaN             NaN               NaN
4                    NaN             NaN               NaN
5                    NaN             NaN               NaN
6                    NaN             NaN               NaN
7                    NaN             NaN               NaN
8                    NaN             NaN               NaN
9                    NaN             NaN               NaN
10                   NaN             NaN               NaN
11                   NaN             NaN               NaN
12                   NaN             NaN               NaN
13                   NaN             NaN               NaN
14                   NaN             NaN               NaN
15                   NaN             NaN               NaN
16                   NaN             NaN               NaN
17                   NaN             NaN               NaN
18                   NaN             NaN               NaN
19                   NaN             NaN               NaN
20                   NaN             NaN               NaN
21                   NaN             NaN               NaN
22                   NaN             NaN               NaN
23                ACTIVE          Jan-18             753.0
24                   NaN             NaN               NaN
25                   NaN             NaN               NaN
26                   NaN             NaN               NaN
27                   NaN             NaN               NaN
28                   NaN             NaN               NaN
29                   NaN             NaN               NaN
...                  ...             ...               ...
235599               NaN             NaN               NaN
235600               NaN             NaN               NaN
235601               NaN             NaN               NaN
235602               NaN             NaN               NaN
235603               NaN             NaN               NaN
235604               NaN             NaN               NaN
235605               NaN             NaN               NaN
235606               NaN             NaN               NaN
235607               NaN             NaN               NaN
235608               NaN             NaN               NaN
235609               NaN             NaN               NaN
235610               NaN             NaN               NaN
235611               NaN             NaN               NaN
235612               NaN             NaN               NaN
235613               NaN             NaN               NaN
235614               NaN             NaN               NaN
235615               NaN             NaN               NaN
235616               NaN             NaN               NaN
235617               NaN             NaN               NaN
235618               NaN             NaN               NaN

## Running OLS to search for correlative variables with my predictor variable loan_status

In [17]:
#We need to clean up the data set to create a 1 for fully paid off or 0 if not 
lc_clean = pd.get_dummies(lc_test, prefix=None, prefix_sep='_', dummy_na=False, columns=["loan_status"], sparse=False, drop_first=False)

In [19]:
lc_clean

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_amount,settlement_percentage,settlement_term,loan_status_Charged Off,loan_status_Current,loan_status_Default,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days)
0,NaN,NaN,15000,15000,15000,60 months,12.39%,336.64,C,C1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
1,NaN,NaN,10400,10400,10400,36 months,6.99%,321.08,A,A3,...,NaN,NaN,NaN,1,0,0,0,0,0,0
2,NaN,NaN,12800,12800,12800,60 months,17.14%,319.08,D,D4,...,NaN,NaN,NaN,0,0,0,0,1,0,0
3,NaN,NaN,21425,21425,21425,60 months,15.59%,516.36,D,D1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
4,NaN,NaN,7650,7650,7650,36 months,13.66%,260.20,C,C3,...,NaN,NaN,NaN,1,0,0,0,0,0,0
5,NaN,NaN,9600,9600,9600,36 months,13.66%,326.53,C,C3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
6,NaN,NaN,17000,17000,17000,36 months,13.66%,578.22,C,C3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
7,NaN,NaN,21075,21075,21075,60 months,21.99%,581.95,E,E5,...,NaN,NaN,NaN,0,1,0,0,0,0,0
8,NaN,NaN,12975,12975,12975,36 months,17.86%,468.17,D,D5,...,NaN,NaN,NaN,1,0,0,0,0,0,0
9,NaN,NaN,5250,5250,5250,36 months,11.44%,172.98,B,B4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
10,NaN,NaN,10000,10000,10000,36 months,11.99%,332.10,B,B5,...,NaN,NaN,NaN,1,0,0,0,0,0,0
11,NaN,NaN,2500,2500,2500,36 months,11.99%,83.03,B,B5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
12,NaN,NaN,23325,23325,23325,36 months,14.31%,800.71,C,C4,...,NaN,NaN,NaN,1,0,0,0,0,0,0
13,NaN,NaN,16000,16000,16000,60 months,11.44%,351.40,B,B4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
14,NaN,NaN,6000,6000,6000,36 months,10.49%,194.99,B,B3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
15,NaN,NaN,2000,2000,2000,36 months,14.99%,69.33,C,C5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
16,NaN,NaN,3000,3000,3000,36 months,10.49%,97.50,B,B3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
17,NaN,NaN,2000,2000,2000,36 months,15.99%,70.31,D,D2,...,NaN,NaN,NaN,0,0,0,1,0,0,0
18,NaN,NaN,2000,2000,2000,36 months,14.31%,68.66,C,C4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
19,NaN,NaN,13550,13550,13550,60 months,19.99%,358.92,E,E3,...,NaN,NaN,NaN,0,1,0,0,0,0,0
20,NaN,NaN,7200,7200,7200,36 months,12.39%,240.49,C,C1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
21,NaN,NaN,1000,1000,1000,36 months,12.39%,33.41,C,C1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
22,NaN,NaN,14000,14000,14000,36 months,10.49%,454.97,B,B3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
23,NaN,NaN,5000,5000,5000,36 months,10.49%,162.49,B,B3,...,753.0,44.98,6.0,1,0,0,0,0,0,0
24,NaN,NaN,2000,2000,2000,36 months,12.99%,67.38,C,C2,...,NaN,NaN,NaN,0,0,0,1,0,0,0
25,NaN,NaN,18000,18000,18000,36 months,11.99%,597.78,B,B5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
26,NaN,NaN,10800,10800,10800,36 months,9.49%,345.91,B,B2,...,NaN,NaN,NaN,0,0,0,1,0,0,0
27,NaN,NaN,6000,6000,6000,36 months,14.99%,207.97,C,C5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
28,NaN,NaN,4000,4000,4000,36 months,15.99%,140.61,D,D2,...,NaN,NaN,NaN,0,0,0,1,0,0,0
29,NaN,NaN,15000,15000,15000,60 months,20.99%,405.72,E,E4,...,NaN,NaN,NaN,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235599,NaN,NaN,35000,35000,35000,36 months,18.25%,1269.73,D,D3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235600,NaN,NaN,15000,15000,15000,36 months,16.99%,534.72,D,D1,...,NaN,NaN,NaN,1,0,0,0,0,0,0
235601,NaN,NaN,12800,12800,12800,36 months,13.53%,434.56,B,B5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235602,NaN,NaN,24000,24000,24000,36 months,21.48%,910.13,E,E2,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235603,NaN,NaN,18000,18000,17975,36 months,15.61%,629.37,C,C4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235604,NaN,NaN,7000,7000,7000,36 months,9.67%,224.79,B,B1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235605,NaN,NaN,14400,14400,14375,36 months,13.53%,488.88,B,B5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235606,NaN,NaN,14000,14000,14000,36 months,16.24%,493.86,C,C5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235607,NaN,NaN,24000,24000,24000,36 months,13.98%,820.04,C,C1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235608,NaN,NaN,15250,15250,15250,36 months,17.57%,548.05,D,D2,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235609,NaN,NaN,32000,32000,31975,36 months,7.90%,1001.29,A,A4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235610,NaN,NaN,12000,12000,12000,36 months,8.90%,381.04,A,A5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235611,NaN,NaN,10000,10000,10000,36 months,12.85%,336.22,B,B4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235612,NaN,NaN,12000,12000,12000,36 months,16.24%,423.31,C,C5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235613,NaN,NaN,10000,10000,10000,36 months,7.90%,312.91,A,A4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235614,NaN,NaN,5000,5000,5000,36 months,22.40%,191.99,E,E3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235615,NaN,NaN,13250,13250,13225,60 months,22.90%,372.77,E,E4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235616,NaN,NaN,12000,12000,12000,60 months,21.48%,327.89,E,E2,...,NaN,NaN,NaN,0,1,0,0,0,0,0
235617,NaN,NaN,6000,6000,6000,36 months,10.99%,196.41,B,B2,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235618,NaN,NaN,10000,10000,10000,36 months,11.99%,332.10,B,B3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235619,NaN,NaN,8525,8525,8525,60 months,18.25%,217.65,D,D3,...,NaN,NaN,NaN,1,0,0,0,0,0,0
235620,NaN,NaN,6000,6000,6000,36 months,15.61%,209.79,C,C4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235621,NaN,NaN,18000,18000,17975,36 months,7.90%,563.23,A,A4,...,NaN,NaN,NaN,1,0,0,0,0,0,0
235622,NaN,NaN,15000,15000,15000,36 months,13.53%,509.25,B,B5,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235623,NaN,NaN,10000,10000,10000,36 months,18.25%,362.78,D,D3,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235624,NaN,NaN,18400,18400,18400,60 months,14.47%,432.64,C,C2,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235625,NaN,NaN,22000,22000,22000,60 months,19.97%,582.50,D,D5,...,NaN,NaN,NaN,1,0,0,0,0,0,0
235626,NaN,NaN,20700,20700,20700,60 months,16.99%,514.34,D,D1,...,NaN,NaN,NaN,0,1,0,0,0,0,0
235627,NaN,NaN,2000,2000,2000,36 months,7.90%,62.59,A,A4,...,NaN,NaN,NaN,0,0,0,1,0,0,0
235628,NaN,NaN,10000,10000,9975,36 months,19.20%,367.58,D,D3,...,NaN,NaN,NaN,0,0,0,1,0,0,0